.project-technologies {
  height: max-content;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* flex-flow: wrap; */
}
  .project-technologies::-webkit-scrollbar {
    display: none;
  }

.technology-wrap {
  flex-flow: wrap;
  overflow: auto;
}
/* .technology-nowrap {
  flex-flow: nowrap;
  overflow: hidden;
} */

.technology-icon {
  height: 32.5px;
}
.technology-label {
  margin-left: 10px;
  font-size: .75rem;
  font-weight: 500;
  color: var(--clr-new-text);
  margin-top: 0;
  margin-bottom: 0;
}
