/* 
<--------------- Projects Display ---------------> 
*/
@media only screen and (min-width: 1400px) {
    .project-card {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 350px;
    }
  }
  @media only screen and (min-width: 800px) and (max-width: 1400px){
    .project-card {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 225px;
    }
  }
  @media only screen and (max-width: 800px){
    .project-card {
      margin-left: auto;
      margin-right: auto;
      width: 60%;
      height: 150px;
    }
  }
  
  .projects {
    animation: fade-in ease 1s;
  }
  
  .project-card {
    transition: all ease-in-out .5s;
    cursor: pointer;
  }
  .project-card.closed-card {
    margin-top: 0;
    margin-bottom: 25px;
  }
  .project-card.open-card {
    margin-top: 2.5%;
    margin-bottom: 25px;
  }
  
  .project-pic {
    display: flex;
    visibility: hidden;
    background-color: var(--clr-secondary);
    width: 100%;
    height: 100%;
    border-radius: .3em;
    transition: all ease-in-out .5s;
    box-shadow: 0 0 5px #000;
    z-index: 1;
    overflow: hidden;
  }
  .project-pic.show{
    visibility: visible;
  }
  .project-card.closed-card .project-pic {
    transform: translateY(-102.5%) translateX(-2.5%);
  }
  .project-card.closed-card:hover .project-pic, .project-card.closed-card:focus .project-pic {
    transform: translateY(-105%) translateX(-5%);
  }
  .project-card.open-card .project-pic {
    transform: translateY(-110%) translateX(-35%);
  }
  
  .project-card.closed-card .project-pic.two {
    transform: translateY(-202.5%) translateX(-2.5%);
  }
  .project-card.closed-card:hover .project-pic.two, .project-card.closed-card:focus .project-pic.two {
    transform: translateY(-205%) translateX(-5%);
  }
  .project-card.open-card .project-pic.two {
    transform: translateY(-210%) translateX(-35%);
  }
  
  .project-card.closed-card .project-pic.three {
    transform: translateY(-302.5%) translateX(-2.5%);
  }
  .project-card.closed-card:hover .project-pic.three, .project-card.closed-card:focus .project-pic.three {
    transform: translateY(-305%) translateX(-5%);
  }
  .project-card.open-card .project-pic.three {
    transform: translateY(-310%) translateX(-35%);
  }
  
  .project-card.closed-card .project-pic.four {
    transform: translateY(-402.5%) translateX(-2.5%);
  }
  .project-card.closed-card:hover .project-pic.four, .project-card.closed-card:focus .project-pic.four {
    transform: translateY(-405%) translateX(-5%);
  }
  .project-card.open-card .project-pic.four {
    transform: translateY(-410%) translateX(-35%);
  }
  
  .project-context {
    height: 100%;
    color: var(--clr-white);
    background-color: var(--clr-tertiary);
    border-radius: .3em;
    transition: all ease-in-out .5s;
    box-shadow: 0 0 5px #000;
    z-index: 0;
  }
  .project-card:hover {
    cursor: pointer;
  }
  .project-card.closed-card .project-context {
    transform: translateY(2.5%) translateX(2.5%);
  }
  .project-card.open-card .project-context {
    transform: translateY(10%) translateX(35%);
  }
  
  .project-desc {
    overflow-y: scroll;
    white-space: pre-wrap;
  }
  .project-link {
    filter: invert(70%) sepia(45%) saturate(173%) hue-rotate(195deg) brightness(99%) contrast(87%);
    height: 32px;
    width: 32px;
    color: transparent;
  }
  .project-link:hover, .project-link:focus {
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(232deg) brightness(110%) contrast(101%);
  }
  .project-card-footer {
    border-top: 2px solid var(--clr-secondary);
    margin-top: auto;
    margin-bottom: 0%;
  }
  .project-tools {
    overflow-x: auto;
    font-size: .9em;
  }
  