@media (min-width: 850px) {
    .detailed-mobile-img {
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .detailed-portrait-img {
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .detailed-landscape-img {
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .detailed-square-img {
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .detailed-desc {
        max-width: 500px;
    }
}
@media (max-width: 849px) {
    .detailed-mobile-img {
        margin-left: auto;
        margin-right: auto;
    }
    .detailed-portrait-img {
        margin-left: auto;
        margin-right: auto;
    }
    .detailed-landscape-img {
        margin-left: auto;
        margin-right: auto;
    }
    .detailed-square-img {
        margin-left: auto;
        margin-right: auto;
    }
    .detailed-desc {
        max-width: none;
    }
}

.detailed-desc {
    white-space: pre-wrap;
    padding-bottom: 30px;
    /* border-bottom: solid 2px var(--clr-tertiary); */
}

.detailed-p {
    margin-top: auto;
    margin-bottom: auto;
}

.detailed-mobile-img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 150px;
    height: 300px;
    border-radius: 15px;
}

.detailed-portrait-img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 425px;
    border-radius: 15px;
}

.detailed-landscape-img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 400px;
    height: 250px;
    border-radius: 15px;
}

.detailed-square-img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 300px;
    height: 300px;
    border-radius: 15px;
}