@media only screen and (min-width: 1000px){
  .nav-link {
    display: inline;
  }
}
@media only screen and (max-width: 1000px){
  .nav-link {
    display: inline;
  }
}
@media only screen and (max-width: 700px){
  .nav-link {
    display: none;
  }
}

/* =============================================
<--------------- nav-link (start) ---------------> 
==============================================*/

.nav-link {
  margin: 0 1vw 0 1vw;
  padding: 5px;
  padding-bottom: 7px;
  border: solid 2px transparent;
  font-size: calc(15px + 1.2vmin);
  font-weight: 300;
  text-decoration: none;
  color: var(--clr-white);
  position: relative;
  overflow-x: hidden;
  background-color: transparent;
  text-transform: capitalize;
}
.nav-link::after{
  content: "";
  position: absolute;
  bottom: 1px;
  left: -5%;
  right: 0%;
  background-color: var(--clr-white);
  height: 0.15vmin;
  width: 110%;
  transition: transform ease-in-out .3s;
  -webkit-transition: transform ease-in-out .3s;
  -moz-transition: transform ease-in-out .3s;
  -o-transition: transform ease-in-out .3s;
  -khtml-transition: transform ease-in-out .3s;
  transform: scaleX(0);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--clr-white);
  outline: none;
}
.nav-link:hover::after,
.nav-link:focus::after {
  content: "";
  position: absolute;
  transform: scaleX(100%);
}

/* 
<--------------- active nav link ---------------> 
*/

.nav-link.active {
  color: var(--clr-new-pop);
}
.nav-link.active::after{
  background-color: var(--clr-new-pop);
}

/* =============================================
<--------------- nav-link (end) ---------------> 
==============================================*/