/* 
<--------------- About ---------------> 
*/

@media only screen and (min-width: 700px){
    .container {
      margin-left: 15%;
      margin-right: 15%;
    }
  }
  @media only screen and (max-width: 700px){
    .container {
      margin-left: 5%;
      margin-right: 5%;
    }
  }
  
  .about-wrapper {
    animation: fade-in ease 1s;
    height: 48vmax;
    width: auto;
    left: 0;
    z-index: 0;
    border-radius: 100% 100% 100% 100% / 100% 100% 100% 100% ;
  }
  .about-wrapper::after {
    content: "";
    clip-path: polygon(50% 0%, 80% 50%, 50% 100%, 20% 50%);
    position: absolute;
    height: 48vmax;
    width: 95%;
    left: 2.5%;
    background: rgb(56,72,87);
    background: -moz-linear-gradient(90deg, rgba(56,72,87,1) 0%, rgba(49,60,73,1) 10%, rgba(39,40,51,1) 26%, rgba(34,31,40,1) 57%);
    background: -webkit-linear-gradient(90deg, rgba(56,72,87,1) 0%, rgba(49,60,73,1) 10%, rgba(39,40,51,1) 26%, rgba(34,31,40,1) 57%);
    background: linear-gradient(90deg, rgba(56,72,87,1) 0%, rgba(49,60,73,1) 10%, rgba(39,40,51,1) 26%, rgba(34,31,40,1) 57%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#384857",endColorstr="#221f28",GradientType=1); 
    
  }
  .about-wrapper-scale {
    padding: 50%;
  }
  .about-quote {
    animation: fall-in ease 1s;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5em;
    color: var(--clr-white);
    z-index: 1;
  }
  .about-quote span {
    color: var(--clr-secondary);
  }
  .about-cite {
    animation: fall-in ease 1s;
    font-size: 2em;
    color: var(--clr-primary-light);
    z-index: 1;
  }
  .about-desc {
    animation: fade-in ease 1s;
    animation: rise-in ease 1s;
    font-size: 1.5em;
    color: var(--clr-white);
  }
  .about-desc span {
    color: var(--clr-secondary);
  }
  
  .about-header {
    color: var(--clr-white);
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fall-in {
    from {
      transform: translateY(-75%);
    }
    to {
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes fall-in {
    from {
      transform: translateY(-75%);
    }
    to {
      transform: translateY(0%);
    }
  }
  
  @keyframes rise-in {
    from {
      transform: translateY(400%);
    }
    to {
      transform: translateY(0);
    }
  }
  @-webkit-keyframes rise-in {
    from {
      transform: translateY(400%);
    }
    to {
      transform: translateY(0%);
    }
  }
  