@media only screen and (min-width: 800px){
    .logo-full-list {
        display: none;
    }

    .logo-symbol-list {
        display: flex;
        flex-direction: row;
    }

    .logo-symbol-list li {
        padding: 0 10px 0 0;
    }
    .logo-symbol-list li a svg {
        height: 60px;
        width: 70px;
    }
}
@media only screen and (max-width: 800px){
    .logo-full-list {
        display: none;
    }
    
    .logo-symbol-list {
        display: flex;
        flex-direction: row;
    }

    .logo-symbol-list li {
        padding: 0 5px 0 0;
    }
    .logo-symbol-list li a svg {
        height: 50px;
        width: 60px;
    }
}

.socials-bar {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.socials-bar ul {
    margin-left: 0;
    padding: 0;
}
.socials-bar ul li {
    list-style: none;
}

.logo-full-list li {
    min-width: 250px;
}

.logo-symbol-list li a {
    border-radius: 5px;
}
    .logo-symbol-list li a:hover,
    .logo-symbol-list li a:focus {
        /* filter: brightness(0) saturate(100%) invert(78%) sepia(0%) saturate(7467%) hue-rotate(22deg) brightness(121%) contrast(83%); */
        filter: brightness(0) saturate(100%) invert(95%) sepia(95%) saturate(0%) hue-rotate(139deg) brightness(106%) contrast(106%);
    }
    .logo-symbol-list li a:active {
        filter: brightness(0) saturate(100%) invert(85%) sepia(0%) saturate(1442%) hue-rotate(146deg) brightness(92%) contrast(102%);
    }
.logo-symbol-list li a svg {
    margin: auto;
    padding: 5px;
}
