@media only screen and (min-width: 2000px)
{
  .down-btn-container {
    margin-top: auto;
    margin-bottom: 7.5vh;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 2000px)
{
  .down-btn-container {
    margin-top: auto;
    margin-bottom: 7.5vh;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1500px)
{
  .down-btn-container {
    margin-top: auto;
    margin-bottom: 7.5vh;
  }
}

@media only screen and (max-width: 800px)
{
  .down-btn-container {
    margin-top: auto;
    margin-bottom: 25vh;
  }
}

.down-btn-container {
    position: relative;
    display: flex;
    cursor: pointer;
    user-select: auto;
    pointer-events: all;
    z-index: 100;
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: transparent;
    bottom: 0;
}
.down-btn-container:hover,
.down-btn-container:focus {
    outline: none;
}

.down-btn-dashed-cir {
    position: absolute;
    user-select: none;
    pointer-events: none;
    z-index: 101;
    top: 0;
    left: -1px;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 5px dashed var(--clr-new-secondary);
    transition: all .2s ease-in-out;
    background-color: var(--clr-background);
    box-shadow: 0px 0px 20px 15px var(--clr-background);
    animation: slow-rotate-dashed-cir 60s reverse infinite linear;
}
.down-btn-container:hover .down-btn-dashed-cir,
.down-btn-container:focus .down-btn-dashed-cir {
    animation: slow-rotate-dashed-cir 10s infinite linear;
    width: calc(190px + 5%);
    height: calc(190px + 5%);
    top: -2.5%;
    left: -2.5%;
}
.down-btn-container:active .down-btn-dashed-cir {
    border-color: var(--clr-new-text);
}

.down-btn-solid-cir {
    position: absolute;
    user-select: none;
    pointer-events: none;
    z-index: 102;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--clr-new-pop);
    border: 5px solid var(--clr-new-pop);
    transition: all .2s ease-in-out;
}
.down-btn-container:hover .down-btn-solid-cir,
.down-btn-container:focus .down-btn-solid-cir {
    background-color: var(--clr-new-pop-bright);
}
.down-btn-container:active .down-btn-solid-cir {
    box-shadow: 0px 0px 2.5px 2.5px var(--clr-new-text);
}

.down-btn-solid-cir-inner {
    position: absolute;
    user-select: none;
    pointer-events: none;
    z-index: 102;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid var(--clr-new-pop);
    transition: all .2s ease-in-out;
}
.down-btn-container:hover .down-btn-solid-cir-inner,
.down-btn-container:focus .down-btn-solid-cir-inner {
    box-shadow: 0px 0px 5px 2px var(--clr-new-pop) inset, 0px 0px 5px 1px var(--clr-new-pop);
}

.down-btn-tri-container {
    z-index: 104;
    position: absolute;
    user-select: none;
    pointer-events: none;
    transform: translateX(-50%);
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    transition: all .2s ease-in-out;
}

.down-btn-chevron {
    user-select: none;
    pointer-events: none;
    position: absolute;
    z-index: 1;
}
.down-btn-container:hover .down-btn-tri-container .down-btn-chevron,
.down-btn-container:focus .down-btn-tri-container .down-btn-chevron {
    transition: all .1s ease-in-out;
}

.down-btn-cta {
    position: absolute;
    font-size: 2rem;
    width: 100%;
    bottom: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    z-index: 998;
}
.down-btn-cta p:first-child {
    font-size: 1em;
    margin-bottom: 5%;
}
.down-btn-cta p {
    margin-top: 5px;
    margin-bottom: 10%;
    margin-right: 12.5px;
    font-size: .6em;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--clr-new-text);
    text-shadow: 0 0 5px var(--clr-background);
    filter: drop-shadow(0 0 2px var(--clr-background)) 
        drop-shadow(0 0 3px var(--clr-background))
        drop-shadow(0 0 4px var(--clr-background))
        drop-shadow(0 0 5px var(--clr-background))
        drop-shadow(0 0 6px var(--clr-background));
    transition: all .2s ease-in-out;
}

.down-btn-container:hover .down-btn-cta p,
.down-btn-container:focus .down-btn-cta p {
    letter-spacing: 3%;
}

@keyframes slow-rotate-dashed-cir {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    
}

/* .down-btn-solid-cir {
    // Adds a subtle glow
    box-shadow: 0 0 0.3em 0 var(--clr-new-pop);
   
    box-shadow: 0px 0px 10px 10px rgba(26, 26, 26, 0.753) inset;
    
    // OLD COLOR SHADOW
    box-shadow: 0px 0px 7.5px 7.5px rgba(34, 34, 34, 0.904);
} */

/* .down-btn-container:hover .down-btn-solid-cir {
    box-shadow: 0px 0px 3px 3px rgba(235, 235, 235, 0.815);
} */
/* .down-btn-container:hover .down-btn-solid-cir {
    box-shadow: 0px 0px 5px 5px white;
    box-shadow: 0px 0px 5px 5px black inset;
} */

/* .down-btn-tri {
    z-index: 105;
    position: absolute;
    user-select: none;
    pointer-events: none;
    transform: translateX(-50%);
    left: 50%;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    transition: all .2s ease-in-out;
}
.down-btn-tri-container .down-btn-tri:nth-child(1) {
    top: 102.5px;
}
.down-btn-tri-container .down-btn-tri:nth-child(2) {
    top: 95px;
}
.down-btn-tri-container .down-btn-tri:nth-child(3) {
    top: 57.5px;
}
.down-btn-tri-container .down-btn-tri:nth-child(4) {
    top: 50px;
}
.down-btn-tri-container .down-btn-tri:nth-child(odd) {
    border-top: 55px solid #f5b6ff;
}
.down-btn-tri-container .down-btn-tri:nth-child(even) {
    border-top: 55px solid rgb(249, 147, 255);
}

.down-btn-container:hover .down-btn-tri-container .down-btn-tri:nth-child(odd) {
    border-left-width: 27.5px !important;
    border-right-width: 27.5px !important;
    border-top-width: 50px !important;
    transition: all .1s ease-in-out;
}
.down-btn-container:hover .down-btn-tri-container .down-btn-tri:nth-child(2n) {
    border-left-width: 27.5px !important;
    border-right-width: 27.5px !important;
    border-top-width: 50px !important;
    transition: all .1s ease-in-out;
} */