/* 
<--------------- Home ---------------> 
*/

.home-wrapper {
    animation: slide-in ease 1s;
    margin-bottom: 30vh;
  }
  
  .home-name {
    font: 3em 'Lemon';
    color: var(--clr-white);
    line-height: .6em;
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(255,255,255,0), 2px 2px 2px rgba(255,255,255,0);
  }
  .home-text {
    font-size: 2.5em;
    color: var(--clr-secondary);
    text-shadow: 0 1px 0 #a6abcc, 0 2px 0 #969ab6, 0 3px 0 #8c8faa, 0 4px 0 #75788f, 0 5px 0 #73768d, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15), 2px 2px 2px rgba(178,183,221,0), 2px 2px 2px rgba(178,183,221,0);
  }
  .home-text-muted {
    font-size: .8em;
    color: var(--clr-tertiary);
  }

  @keyframes slide-in {
    from {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(0%);
    }
  }
  @-webkit-keyframes slide-in {
    from {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(0%);
    }
  }