/* 
<--------------- Home ---------------> 
*/
@media only screen and (min-width: 2000px)
{
  .App-header {
    min-height: calc(100vh - 80px);
  }
  .home-hook {
    font-size: 15vh;
    align-self: flex-start;
  }
  .home-text-muted {
    font-size: calc(17px + 6vmin);
  }
  .home-text-wrapper {
    margin-bottom: 10vh;
  }
  .bird {
    top: -16%;
    left: 16vw;
    height: 32.5%;
  }
  .wf-dove {
    top: 10vh;
    left: 20vw;
  }
  .wf-ls {
    bottom: -20vw;
    left: 0;
    width: 100vw;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 2000px)
{
  .App-header{
    min-height: calc(100vh - 80px);
  }
  .home-hook {
    font-size: 7.5vw;
    align-self: flex-start;
  }
  .home-text-muted {
    font-size: calc(17px + 4vmin);
  }
  .home-text-wrapper {
    margin-bottom: 10vh;
  }
  .bird {
    top: 10vh;
    left: 20vw;
  }
  .wf-dove {
    top: 10vh;
    left: 20vw;
  }
  .wf-ls {
    bottom: -7.5vw;
    left: 0;
    width: 100vw;
  }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px)
{
  .bird {
    top: -16%;
    left: 14vw;
    height: 32.5%;
  }
  .wf-dove {
    top: 10vh;
    left: 16vw;
  }
  .wf-ls {
    bottom: -15vw;
    left: -25vw;
    width: 150vw;
  }
  .home-hook {
    font-size: 13.5vh;
    line-height: 1em;
  }
  .home-text-wrapper {
    margin-bottom: 10vh;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px)
{
  .bird {
    top: -12.5%;
    right: 0;
    height: 35%;
  }
  .wf-dove {
    top: 10vh;
    right: -50vh;
  }
  .wf-ls {
    bottom: -25vw;
    left: -50vw;
    width: 200vw;
  }
  .home-hook {
    font-size: 12vw;
    line-height: 1em;
  }
  .home-text-wrapper {
    margin-bottom: 10vh;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) and (max-height: 700px)
{
  .bird {
    top: -5%;
    right: 10%;
    height: 50%;
  }
  .wf-dove {
    top: -15vh;
    right: -40vh;
  }
  .wf-ls {
    bottom: -25vw;
    left: -50vw;
    width: 200vw;
  }
  .home-hook {
    font-size: 7vw;
  }
  .home-text-wrapper {
    margin-bottom: 10vh;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1500px)
{
  .App-header {
    min-height: calc(100vh - 96px);
  }
  .home-hook {
    font-size: 10vw;
    line-height: 1em;
    align-self: flex-start;
  }
  .home-text-muted {
    font-size: calc(17px + 4vmin);
  }
  .home-text-wrapper {
    margin-bottom: 10vh;
  }
}

@media only screen and (max-width: 800px)
{
  .App-header {
    min-height: calc(90vh - 96px);
    background-size: cover !important;
    background-position: bottom !important;
  }
  .home-hook {
    font-size: 10vw;
    line-height: 1em;
    align-self: flex-start;
  }
  .home-text-muted {
    font-size: 5vw;
  }
  .home-text-wrapper {
    margin-bottom: 20vh;
  }
  .bird {
    top: calc(5% + 4vw);
    right: 0;
    height: 40%;
  }
  .wf-dove {
    top: calc(15% + 4vw);
    right: -50vh;
  }
  .wf-ls {
    bottom: 5vh;
    left: -50vw;
    width: 200vw;
  }
}

.app-header {
  animation: fade-in ease 1s;
  -webkit-animation: fade-in ease 1s;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: var(--clr-white);
  padding-left: 5%;
  padding-right: 5%;
  overflow: visible;
  position: relative;
}
.home-text-wrapper {
  position: relative;
  margin-right: auto;
  z-index: 998;
}
  
.intro-text {
  font-weight: 600 !important;
  color: var(--clr-white);
  text-shadow: 0 0 1px rgb(49, 49, 49), 0 0 1px rgb(63, 62, 62), 0 0 1px rgb(78, 78, 78);
}
.home-hook {
  line-height: .75em;
  transform: scaleY(1.10);
  font-family: 'ErasITCDemi';
  font-weight: normal !important;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 2.5%;
  color: var(--clr-new-text);
} 
.home-text-muted {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  line-height: .9em;
  align-self: start;
  margin-top: 7.5px;
  margin-bottom: auto;
  margin-left: 0%;
  margin-right: 0%;
  color: var(--clr-new-pop);
}
.home-stack-text {
  text-align: start;
  margin-top: 2.5px;
  margin-bottom: 7.5px;
  margin-right: auto;
  font-size: 1.3rem;
  color: var(--clr-secondary);
}

/* BIRD */
.bird
{
  user-select: none;
  pointer-events: none;
  position: absolute;
  transform: rotate(-5deg);
  z-index: 999;
  /* animation: birdShiftLeftRight 4s ease-in-out infinite; 2s duration, infinite looping */
}

.wf-dove
{
  user-select: none;
  pointer-events: none;
  position: absolute;
  z-index: 1;
  height: 100%;
  opacity: 70%;
  /* animation: birdShiftLeftRight 4s ease-in-out infinite; 2s duration, infinite looping */
}
.wf-ls
{
  aspect-ratio: 1920/1080;
  user-select: none;
  pointer-events: none;
  position: absolute;
  z-index: 1;
  opacity: 60%;
}


@keyframes birdShiftLeftRight {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(2.5px) scale(102%);
  }
  50% {
    transform: translateX(-2.5px) scale(98%);
  }
  75% {
    transform: translateX(2.5px) scale(102%);
  }
}