@media only screen and (min-width: 1500px) {
    .table {
        margin-left: 15%;
        margin-right: 15%;
    }
    .horizontal-list {
        justify-content: center;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1500px){
    .table {
        margin-left: 10%;
        margin-right: 10%;
    }
    .horizontal-list {
        justify-content: center;
    }
}
@media only screen and (max-width: 800px){
    .table {
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    .horizontal-list {
        justify-content: left;
    }
}

.table {
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow: hidden;
}

button > * {
    pointer-events: none;
}

.scroll-shadow {
    box-shadow: 0px 2px 5px inset rgba(0, 0, 0, 0.356);
}
.horizontal-list {
    display: flex !important;
    list-style: none !important;
    padding-left: 0;
    padding-top: 0;
    flex-wrap: nowrap !important;
}
    .horizontal-list li {
        display: inline;
    }
        .horizontal-list li button {
            color: var(--clr-white);
            background-color: var(--clr-background);
            border: 2.5px solid transparent;
            border-radius: 5px;
            padding: 5px;
            margin: 0 5px 0 5px;
            font-weight: 700;
            cursor: pointer;
        }
        .horizontal-list li button:hover {
            border: 2.5px solid var(--clr-tertiary-light);
        }
        .horizontal-list li button:active{
            background-color: var(--clr-tertiary-light);
        }
        .horizontal-list li button.active {
            background-color: var(--clr-tertiary);
        }
        .horizontal-list li button.active:hover {
            background-color: var(--clr-tertiary);
        }
        .horizontal-list li button.active:active{
            background-color: var(--clr-tertiary-light);
        }
            .horizontal-list li button img {
                display: block;
                width: 64px;
                height: 64px;
            }