html,body {
  margin: 0;
  height: 100%;
  background-color: var(--clr-background);
  box-sizing: content-box;
}

body {
  overflow-x: hidden;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--clr-secondary);
}
h3 {
  font-size: 1.5rem;
  color: var(--clr-white);
}
.header {
  font-size: 2.5em;
  color: var(--clr-white);
}

.content {
  overflow-x: hidden;
}

@media only screen and (min-width: 1000px){
  .container {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media only screen and (max-width: 1000px){
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}
@media only screen and (max-width: 700px){
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@font-face {
  font-family: 'Beauty';
  src: url(./fonts/Beauty.ttf) format('truetype');
}

@font-face {
  font-family: 'Lemon';
  src: url(./fonts/Lemon.ttf) format('truetype');
}

@font-face {
  font-family: 'ErasITCDemi';
  src: url(./fonts/eras-itc-demi.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  /* Light Theme */
  /* --clr-primary: #d9006c; */
  /* --clr-background: #f7f4fd; */
  /* --clr-default-text: #221f28; */
  /* --clr-secondary: #6f66dc; */
  /* change to main-3d styling text-shadow: 0 .5px 0 #a6abcc,0 1px 0 #969ab6,0 1.5px 0 #8c8faa,0 2px 0 #75788f,0 2.5px 0 #73768d,0 0 1px rgba(100, 100, 100, 1),0 2.5px 8px rgba(0, 0, 0, 0.4),0 5px 10px rgba(0, 0, 0, 0.4), 0 0 1px black, 0 0 1px black; */
  /* Nav-link active color to primary */

  /* --clr-primary: #c4ceab; */
  --clr-primary: #6f66dc;
  --clr-primary-light: #9d8bd5;
  /* --clr-primary-light: #ceccab; */
  /* --clr-secondary: #b2b7dd; */
  /* --clr-secondary: #c9d9fa; */
  
  /* --clr-tertiary: #384857; */
  /* --clr-tertiary: #efe1e1; */
  --clr-tertiary: #c29288;
  
  --clr-tertiary-disabled: #54616e8c;
  --clr-white: #ffffff;
  /* --clr-background: #f9d4ff; PINK */
  /* --clr-background: #f7f4fd; */
  --clr-alert: rgb(255, 0, 0);
  --clr-success-background: #61a858;
  --clr-success-border: #7dc474;
  --clr-failure-background: #8f2a2a;
  --clr-failure-border: #af4141;
  --clr-backdrop: #000000a1;

  /* Pink-Blue Color Pallet (OLD) */
  /* --clr-background: #221f28; */
  /* --clr-tertiary-light: #54616e; */
  /* --clr-secondary: #afb3d8; */


  /* Blue-Red Color Pallet (NEW) */
  --clr-background: #303841;
  --clr-tertiary-light: #8293ab;
  --clr-secondary: #8293ab;
  --clr-background-mid: #3A4750;
  --clr-new-background: #303841;
  --clr-new-secondary: #3A4750;
  --clr-new-pop: #bd2323;
  --clr-new-pop-bright: #D72323;
  --clr-new-text: #e9e9e9;
}

.svg-fill {
  fill: var(--clr-new-text);
}

.non-scrollable {
  overflow: hidden;
}

.primary-btn {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-white);
  border: var(--clr-new-pop) 3px solid;
  background-color: var(--clr-new-pop);
  border-radius: 0.25em;
  transition: all 0.5s;
  padding: .5em;
}
.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--clr-new-pop-bright);
  box-shadow: 0px 0px 5px 2.5px var(--clr-new-pop) inset, 0px 0px 5px 1px var(--clr-new-pop);
}
.primary-btn:active {
  box-shadow: 0px 0px 4px .5px var(--clr-new-text);
}

/* .primary-btn {
  font-size: .8em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  transition: all .25s;
  padding: 1em 2.25em;
  text-shadow: 0 0px 0 #a6abcc,0 0px 0 #969ab6,0 0px 0 #8c8faa,0 0px 0 #75788f,0 0px 0 #73768d,0 0 0px rgba(100, 100, 100, 1),0 0px 0px rgba(0, 0, 0, 0.4),0 0px 0px rgba(0, 0, 0, 0.4);
  border-radius: 1.5vh;
}
.primary-btn:hover,
.primary-btn:focus {
  text-shadow: 0 .5px 0 #a6abcc,0 1px 0 #969ab6,0 1.5px 0 #8c8faa,0 2px 0 #75788f,0 2.5px 0 #73768d,0 0 1px rgba(100, 100, 100, 1),0 2.5px 8px rgba(0, 0, 0, 0.4),0 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 3px 0.3em 0 rgba(0,0,0, 0.4), 0 3px 0.3em 0 rgba(0,0,0, 0.2);
  background-color: var(--clr-primary);
  color: var(--clr-white);
} */

.secondary-btn {
  font-size: .8em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: var(--clr-secondary) 3px solid;
  color: var(--clr-white);
  transition: all 0.5s;
  padding: calc(1em - 3px) 2.25em;
  border-radius: 1.5vh;
}
.secondary-btn:hover,
.secondary-btn:focus {
  background-color: var(--clr-secondary);
}
.secondary-btn.disabled {
  cursor: default;
  background-color: transparent;
  border: var(--clr-secondary-disabled) 3px solid;
  color: var(--clr-secondary-disabled);
}
.secondary-btn.disabled:hover,
.secondary-btn.disabled:focus {
  background-color: transparent;
  border: var(--clr-secondary-disabled) 3px solid;
  color: var(--clr-secondary-disabled);
}

.tertiary-btn {
  font-size: .8em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  border: var(--clr-tertiary) 3px solid;
  color: var(--clr-white);
  transition: all 0.5s;
  padding: calc(1em - 3px) 2.25em;
  border-radius: 1.5vh;
}
.tertiary-btn:hover,
.tertiary-btn:focus {
  background-color: var(--clr-tertiary);
}

/* ====================================================
<--------------- Common Styles (start) ---------------> 
==================================================== */

/* 
<--------------- text styling ---------------> 
*/

.main-3d-sm {
  font-family: 'Segoe UI';
  color: var(--clr-white);
  font-weight: 700;
  text-shadow: 0 .5px 0 #a6abcc,0 1px 0 #969ab6,0 1.5px 0 #8c8faa,0 2px 0 #75788f,0 2.5px 0 #73768d,0 0 1px rgba(100, 100, 100, 1),0 2.5px 8px rgba(0, 0, 0, 0.4),0 5px 10px rgba(0, 0, 0, 0.4);
}

.main-3d {
  font-family: 'Segoe UI';
  color: var(--clr-white);
  font-weight: 700;
  text-shadow: 0 1px 0 #a6abcc,0 2px 0 #969ab6,0 3px 0 #8c8faa,0 4px 0 #75788f,0 5px 0 #73768d,0 0 2px rgba(100, 100, 100, 1),0 5px 8px rgba(0, 0, 0, 0.4),0 10px 10px rgba(0, 0, 0, 0.4);
}

.main-3d-lg {
  font-family: 'Segoe UI';
  color: var(--clr-white);
  font-weight: 700;
  text-shadow: 0 1px 0 #a6abcc,0 2px 0 #969ab6,0 3px 0 #8c8faa,0 4px 0 #75788f,0 5px 0 #73768d,0 0 2px rgba(100, 100, 100, 1),0 5px 8px rgba(0, 0, 0, 0.4),0 10px 10px rgba(0, 0, 0, 0.4);
}

@media only screen and (min-width: 800px){
  .section-title {
    font-size: 4vw;
    line-height: 1em;
    align-self: flex-start;
  }

  .catalog-title {
    left: 0;
    top: 22%;
    bottom: 25%;
    font-size: 4vw;
    line-height: 1em;
    align-self: flex-start;
  }

  p {
    font-size: 1.35vw;
  }
}
@media only screen and (max-width: 800px){
  .section-title {
    font-size: 4vh;
    line-height: 1em;
    align-self: flex-start;
  }

  .catalog-title {
    left: 10%;
    right: 10%;
    top: 25%;
    bottom: 25%;
    font-size: 5vh;
    line-height: 1em;
    align-self: center;
  }

  p {
    font-size: 1.35vh;
  }
}

@media only screen and (max-width: 500px){
  .section-title {
    font-size: 4vh;
    line-height: 1em;
    align-self: flex-start;
  }

  .catalog-title {
    left: 10%;
    right: 10%;
    top: 25%;
    bottom: 25%;
    font-size: 2vh;
    line-height: 1em;
    align-self: center;
  }

  p {
    font-size: 1.35vh;
  }
}

.section-title {
  line-height: .85em;
  text-align: left;
  transform: scaleY(1.10);
  font-family: 'ErasITCDemi';
  font-weight: normal !important;
  margin-right: auto;
  color: var(--clr-new-text);
}

.catalog-title {
  position: absolute;
  line-height: .85em;
  text-align: center;
  transform: scaleY(1.10);
  font-family: 'ErasITCDemi';
  font-weight: normal !important;
  color: var(--clr-new-text);
}

p {
  font-weight: 500;
  color: var(--clr-white);
}
  p span {
    color: var(--clr-secondary);
  }

.unbutton {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}


/* 
<--------------- display ---------------> 
*/

.unselectable {
  user-select: none;
}

.no-pe {
  pointer-events: none;
}

.default-cursor {
  cursor: default;
}

.d-inline-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

/* 
<--------------- flex ---------------> 
*/

.flex-center-content {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-jc-center {
  justify-content: center;
}
.flex-jc-space-between {
  justify-content: space-between;
}

/* 
<--------------- margin ---------------> 
*/

.mt-25 {
  margin-top: 25px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-15p {
  margin-top: 15%;
}
.mt-12-5p {
  margin-top: 12.5%;
}
.mt-10p {
  margin-top: 10%;
}
.mt-5p {
  margin-top: 5%;
}
.mt-0 {
  margin-top: 0;
}
.mt-auto {
  margin-top: auto;
}

.mb-25 {
  margin-bottom: 25px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-15p {
  margin-bottom: 15%;
}
.mb-12-5p {
  margin-bottom: 12.5%;
}
.mb-10p {
  margin-bottom: 10%;
}
.mb-5p {
  margin-bottom: 5%;
}
.mb-0 {
  margin-bottom: 0;
}

.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-10p {
  margin-right: 10%;
}
.mr-5p {
  margin-right: 5%;
}
.mr-auto {
  margin-right: auto;
}

.ml-0 {
  margin-left: 0 !important;
}
.ml-5 {
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-25p {
  margin-left: 33%;
}
.ml-5p {
  margin-left: 5%;
}
.ml-10p {
  margin-left: 10%;
}
.ml-2-5p {
  margin-left: 2.5%;
}
.ml-auto {
  margin-left: auto;
}

.m-0 {
  margin: 0;
}

/* 
<--------------- padding ---------------> 
*/

.p-20 {
  padding: 20px;
}

.p-15 {
  padding: 15px;
}

.p-10 {
  padding: 10px;
}

.p-0 {
  padding: 0;
}

.pt-5p {
  padding-top: 5%;
}
.pt-10p {
  padding-top: 10%;
}
.pt-20p {
  padding-top: 20%;
}

.pb-10p {
  padding-bottom: 10%;
}
.pb-20p {
  padding-bottom: 20%;
}

/* 
<--------------- sizing ---------------> 
*/

.h-100 {
  height: 100%;
}
.h-75 {
  height: 75%;
}
.h-25 {
  height: 25%;
}


.w-auto {
  width: auto;
}
.w-80 {
  width: 80%;
}
.w-65 {
  width: 65%;
}
.w-60 {
  width: 60%;
}
.w-50 {
  width: 50%;
}
.w-33 {
  width: 33%;
}
.w-25 {
  width: 25%;
}
.w-fc {
  width: fit-content;
}
.w-minc {
  width: min-content;
}
.w-maxc {
  width: max-content;
}

.maxw-delimit {
  max-width: fit-content !important;
}

/* 
<--------------- position ---------------> 
*/

.center {
  display: flex;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}
.left {
  display: flex;
  justify-self: start;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* 
<--------------- color ---------------> 
*/

.list-none {
  list-style: none;
}

.color-white {
  color: var(--clr-white);
}

.bg-white {
  background-color: var(--clr-white);
}

/* ====================================================
<--------------- Common Styles ( end ) ---------------> 
==================================================== */

@keyframes slide-in-left {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-in-left {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-in-right {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-slide-in-left {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes fade-slide-in-left {
  from {
    transform: translateX(-200%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fade-slide-in-right {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}
@-webkit-keyframes fade-slide-in-right {
  from {
    transform: translateX(200%);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fall-in {
  from {
    transform: translateY(-75%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes fall-in {
  from {
    transform: translateY(-75%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes rise-in {
  from {
    transform: translateY(400%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes rise-in {
  from {
    transform: translateY(400%);
  }
  to {
    transform: translateY(0%);
  }
}