html,body {
  margin: 0;
  height: 100%;
  background-color: var(--clr-background);
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--clr-secondary);
}
h3 {
  font-size: 1.5rem;
  color: var(--clr-white);
}
.header {
  font-size: 2.5em;
  color: var(--clr-white);
}

@media only screen and (min-width: 1000px){
  .container {
    margin-left: 15%;
    margin-right: 15%;
  }
  .nav-link {
    display: inline;
  }
}
@media only screen and (max-width: 1000px){
  .container {
    margin-left: 5%;
    margin-right: 5%;
  }
  .nav-link {
    display: inline;
  }
}
@media only screen and (max-width: 700px){
  .container {
    margin-left: 0;
    margin-right: 0;
  }
  .nav-link {
    display: none;
  }
}

@font-face {
  font-family: 'Beauty';
  src: url(./fonts/Beauty.ttf) format('truetype');
}

@font-face {
  font-family: 'Lemon';
  src: url(./fonts/Lemon.ttf) format('truetype');
}

:root {
  --clr-primary: #c4ceab;
  --clr-primary-light: #ceccab;
  --clr-secondary: #b2b7dd;
  --clr-tertiary: #384857;
  --clr-tertiary-light: #54616e;
  --clr-white: #fff;
  --clr-background: #221f28;
  --clr-alert: rgb(255, 0, 0);
  --clr-success-background: #61a858;
  --clr-success-border: #7dc474;
  --clr-failure-background: #8f2a2a;
  --clr-failure-border: #af4141;
  --clr-backdrop: #000000a1;
}

.scrollable {
  overflow-y: auto !important;
}

.non-scrollable {
  overflow: hidden;
}

/* =============================================
<--------------- NavBar (start) ---------------> 
==============================================*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  background-color: transparent;
  height: 56px;
  padding: 0 5%;
  z-index: 999;
}
.nav-logo {
  margin-right: auto;
  font: 2.5em 'Lemon';
  color: var(--clr-white);
  line-height: .6em;
  text-decoration: none;
}
.nav-link {
  margin: 0 15px 0 15px;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  color: var(--clr-white);
  position: relative;
}
.nav-link::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  right: 50%;
  background-color: transparent;
  height: 2px;
  width: 3px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--clr-white);
}
.nav-link:hover::after,
.nav-link:focus::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 5%;
  right: 0;
  background-color: var(--clr-white);
  height: 2px;
  width: 92%;
  transition: ease-in-out .3s;
  -webkit-transition: ease-in-out .3s;
  -moz-transition: ease-in-out .3s;
  -o-transition: ease-in-out .3s;
  -khtml-transition: ease-in-out .3s;
}

/* 
<--------------- active nav link ---------------> 
*/

.nav-link.active {
  color: var(--clr-secondary);
}
.nav-link.active:hover{
  color: var(--clr-secondary);
  cursor: default;
}
.nav-link.active::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 5%;
  right: 0;
  background-color: var(--clr-secondary);
  height: 2px;
  width: 92%;
}
.nav-link.active:hover::after {
  content: "";
  background-color: var(--clr-secondary);
}

/* =============================================
<--------------- NavBar ( end ) ---------------> 
==============================================*/

.primary-btn {
  font-size: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-white);
  border: var(--clr-primary) 3px solid;
  background-color: transparent;
  border-radius: 0.25em;
  box-shadow: inset 0 0 0.3em 0 var(--clr-primary), 0 0 0.3em 0 var(--clr-primary);
  transition: all 0.5s;
  padding: .5em;
}
.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--clr-primary);
  color: var(--clr-background);
}

.secondary-btn {
  font-size: .8em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.25em;
  background-color: transparent;
  border: var(--clr-tertiary) 3px solid;
  color: var(--clr-white);
  transition: all 0.5s;
  padding: .5em;
}
.secondary-btn:hover,
.secondary-btn:focus {
  background-color: var(--clr-tertiary);
}

/* ====================================================
<--------------- Common Styles (start) ---------------> 
==================================================== */

/* 
<--------------- display ---------------> 
*/

.unselectable {
  user-select: none;
}

.default-cursor {
  cursor: default;
}

.d-inline-flex {
  display: inline-flex;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

/* 
<--------------- flex ---------------> 
*/

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-jc-center {
  justify-content: center;
}
.flex-jc-space-between {
  justify-content: space-between;
}

/* 
<--------------- margin ---------------> 
*/

.mt-25 {
  margin-top: 25px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-12-5p {
  margin-top: 12.5%;
}
.mt-10p {
  margin-top: 10%;
}
.mt-5p {
  margin-top: 5%;
}
.mt-0 {
  margin-top: 0;
}
.mt-auto {
  margin-top: auto;
}

.mb-25 {
  margin-bottom: 25px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-5{
  margin-bottom: 5px;
}
.mb-12-5p {
  margin-bottom: 12.5%;
}
.mb-10p {
  margin-bottom: 10%;
}
.mb-5p {
  margin-bottom: 10%;
}
.mb-0 {
  margin-bottom: 0;
}

.mr-10 {
  margin-right: 10px;
}
.mr-10p {
  margin-right: 10%;
}
.mr-5p {
  margin-right: 5%;
}

.ml-10 {
  margin-left: 10px;
}
.ml-25p {
  margin-left: 33%;
}
.ml-5p {
  margin-left: 5%;
}
.ml-2-5p {
  margin-left: 2.5%;
}
.ml-auto {
  margin-left: auto;
}

.m-0 {
  margin: 0;
}

/* 
<--------------- padding ---------------> 
*/

.p-10 {
  padding: 10px;
}

.p-0 {
  padding: 0;
}

.pt-5p {
  padding-top: 5%;
}

/* 
<--------------- sizing ---------------> 
*/

.h-100 {
  height: 100%;
}
.h-75 {
  height: 75%;
}
.h-25 {
  height: 25%;
}


.w-auto {
  width: auto;
}
.w-80 {
  width: 80%;
}
.w-65 {
  width: 65%;
}
.w-50 {
  width: 50%;
}
.w-33 {
  width: 33%;
}
.w-25 {
  width: 25%;
}

/* 
<--------------- position ---------------> 
*/

.center {
  display: flex;
  justify-self: center;
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* 
<--------------- color ---------------> 
*/

.list-none {
  list-style: none;
}

.color-white {
  color: var(--clr-white);
}

.bg-white {
  background-color: var(--clr-white);
}

/* ====================================================
<--------------- Common Styles ( end ) ---------------> 
==================================================== */

@keyframes slide-in-left {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-in-left {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}
@-webkit-keyframes slide-in-right {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fall-in {
  from {
    transform: translateY(-75%);
  }
  to {
    transform: translateY(0%);
  }
}
@-webkit-keyframes fall-in {
  from {
    transform: translateY(-75%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes rise-in {
  from {
    transform: translateY(400%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes rise-in {
  from {
    transform: translateY(400%);
  }
  to {
    transform: translateY(0%);
  }
}